{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid padding">
<div class="row text-center">
    <div class="msa-scorecard col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="row text-left mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h6>{{match.match_day}} | {{match.field}} | Started at {{match.match_start_time}}</h6>
                <hr>
            </div>
        </div>
        <div class="row mx-1">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="{{ home_team.team_logo_url }}" class="img-fluid mx-auto mb-3" width="125">
                <h3>{{home_team.team_name}}</h3>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 my-auto">
                <span class="msa-livescore">
                    {{match.home_team_score}} - {{match.guest_team_score}}
                </span>
                <p class="msa-livescore-sub">
                {% if match.match_status == 'scheduled' %}
                    Scheduled
                {% elif match.match_status == 'in_progress'%}
                    In Progress
                {% elif match.match_status == 'full_time'%}
                    Full Time
                {% elif match.match_status == 'cancelled'%}
                    Cancelled
                {% elif match.match_status == 'abandoned'%}
                    Abandoned
                {% else %}
                    Status - Not Available
                {% endif %}

                </p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <img src="{{ guest_team.team_logo_url }}" class="img-fluid mx-auto mb-3" width="125">
                <h3>{{guest_team.team_name}}</h3>
            </div>
        </div>
        <div class="row mx-1">
            <div class="msa-livescore-sub col-6 col-sm-6 col-md-6 col-lg-6 text-right">
                {% for goal in home_goals%}
                    <p>
                        {{goal.player}}&nbsp;{{goal.goal_minute}}'
                        <i class="far fa-futbol"></i>
                    </p>
                {% endfor%}
            </div>
            <div class="msa-livescore-sub col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                {% for goal in guest_goals%}
                    <p>
                        <i class="far fa-futbol"></i>&nbsp;
                        {{goal.goal_minute}}'&nbsp;{{goal.player}}
                    </p>
                {% endfor%}
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-left">
        <!--h1>Add Goal</h1>
        <form method="POST" class="goal-form">{%csrf_token%}
            {{form|crispy}}
            <button type="submit" class="save btn btn-default">Save</button>
        </form-->
    </div>
</div>
</div>
{% endblock %}