{% load static %}
<html>
    <head>
        <title>Missouri Soccor Association</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
        <body>
            <div id="wrapper">
             <h1>
              <img src="{% static "images/foot_right.jpg" %}" alt="lunch" width="156" height="75" class="left" />
             </h1>
             <h1 class="h1">
               Missouri Soccer Association
             </h1>
             </br>
             <h3 align="center" >
               Now get all the match details anytime,anywhere.
             </h3>
            </br>

            <div class="topnav">
              <a class="active" >  Home</a>
              <a href="">    Players</a>
              <a href="">   Matches</a>
              <a href="">Teams</a>
              <a href="">Stats</a>
              <a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</a>
            </div>

            </div>
            {% block content %}


            {% endblock %}
        </body>

</html>